@import '../styles/variables';

.newsItem {
	padding: 1rem 2rem;
	border-bottom: 2px solid $theme1;
	&:last-of-type {
		border-bottom-width: 0;
	}
	h1 {
		font-size: 2rem;
		font-weight: 600;
		color: $dark1;
	}
	span.date {
		margin-top: 5px;
		font-size: 1.2rem;
		font-weight: 400;
		color: $dark1;
	}
}
